@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cairo', sans-serif;
    min-height: 100vh;
    background: #fff;
    background-image: url(../images/pngarea.com_abstract-design-png-7202563.png);
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    direction: rtl;
}
.container{
    padding-top: 80px;
    max-width: 80vw;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 10px;
}
.info img{
    width: 35%;
}
.info h3{
    font-size:25px;
}
.info h3:nth-child(3){
    margin-top: -20px;
}
.buttons{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttons a{
    width: fit-content;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    background: linear-gradient(to bottom right, #ED213A, #93291E);
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
}
footer p {
    text-align: center;
    font-size: 18px;
}
form.input{
    width: 1200px;
    background-color: #EBEFF2;
    min-height: 100vh;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
form.input h2{
    margin-bottom: 40px;
}
form.input label{
    width: 100%;
    font-size: 1.3rem;
}
form.input input, select{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    outline: none;
}
form.input input:last-child{
    width: fit-content;
    background-color: #304EFF;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}
form.input input:last-child:hover{
    padding: 10px 30px;
    background-color: #1a3af1;
}
form.input input:not(:last-child){
    margin-bottom: 15px;
}
form.input select{
    margin-bottom: 30px;
}
form.search{
    width: 1200px;
    background-color: #EBEFF2;
    margin: auto;
    padding: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 80px;
}

form.search h2{
    margin-bottom: 40px;
}
form.search label{
    width: 100%;
    font-size: 1.3rem;
}
form.search input, select{
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    outline: none;
}
form.search input:last-child{
    width: fit-content;
    background-color: #304EFF;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s linear;
}
form.search input:last-child:hover{
    padding: 10px 30px;
    background-color: #1a3af1;
}
form.search input:not(:last-child){
    margin-bottom: 15px;
}
form.search select{
    margin-bottom: 30px;
}
.erorr{
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 30px 0px;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}
.erorr.show{
    display: block;
}
.erorr p{
    color: red;
    font-size: 20px;
}
.result{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    display: none;
}
.result.show{
    display: block;
}
.result .card{
    width: 45%;
    display: flex;
    flex-direction: column;
    border: 3px solid #000;
    padding: 10px 0px;
    border-radius: 15px;
    background-color: #fff;
}
.result .card .name-blood{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 10px;
    border-bottom: 3px solid #000;
}
.result .card .name-blood p {
    font-size: 25px;
}
.result .card .name-blood .blood{
    display: flex;
    align-items: center;
    gap: 3px;
    padding-right: 30px;
    border-right: 3px solid #000;
}
.result .card .name-blood .blood img{
    width: 30px;
}
.result .card .phone-city {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.result .card .phone-city .phone{
    display: flex;
    align-items: center;
    gap: 15px;
}
.result .card .phone-city .mohafza{
    display: flex;
    align-items: center;
    gap: 15px;
}
@media (max-width: 900px){
    .buttons{
        width:100%;
    }
    .info img{
        width: 50%;
    }
    .info h3 {
        font-size: 20px;
        text-align: center;
    }
    .buttons{
        width: 60%;
        flex-direction: column;
        gap: 30px;
    }
    .buttons a {
        padding: 10px 30px;
        text-align: center;
    }
}

@media (max-width: 1200px){
    form.input{
        width: 100%;
    }
    form.search{
        width: 100%;
    }
    .erorr{
        width: 100%;
    }
    .result{
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }
    .result .card{
        width: 90%;
    }
    .result .card .name-blood p {
        font-size: 18px;
    }
    .result .card .name-blood p.blood-name {
        font-size: 20px;
    }
    .result .card .name-blood .blood img{
        width: 20px;
    }
}

@media (min-width: 1500px){
    .buttons{
        width: 30%;
    }
}